.main {
  width: 400px;
  margin: 0 auto;
}

table {
	border-collapse: collapse;
}
td {
	height: 50px;
	width: 50px;
	border: 1px solid #ddd;
}
#echecs td {
	font-size: 50px;
}

td.odd {
	background-color: #aaa;
}
td.even {
	background-color: #fff;
}

a {
	display: block;
	width: 100%;
	height: 100%;

	color: #000;
	text-decoration: none;
}

.js-pion {
	text-decoration: none;
	color: inherit;
}

.selected {
	background-color: green !important;
	opacity: 0.8;
}
.pion-selected {
	border: 2px solid green;
}

.center {
	text-align: center;
}

.fleft {
	float: left;
}

.pions_supprimes {
	font-size: 50px;
}