html, body {
  margin: 20px;
}

table {
	border-collapse: collapse;
}
td {
	height: 50px;
	width: 50px;
}
#echecs td {
	font-size: 50px;
}

td.odd {
	background-color: #aaa;
}
td.even {
	background-color: #fff;
}

.js-pion {
	text-decoration: none;
	color: inherit;
}

.selected {
	border: 2px solid green;
}