<div style="float:left;">
	{{grille-loop model}}
</div>

<div style="float:left; display:none;">
	<ul style="list-style:none;">
		{{#each model}}
			<li>{{nom}}
				<span style="font-size:3em">{{{image_blanc}}} {{{image_noir}}}</span>
			</li>
		{{/each}}
	</ul>
</div>

