<table id="echecs">
	<tbody>
		<tr>
			<td class="even" id="case_0_0" data-x="0" data-y="0"><a href="#" class="pion" data-id_pion="8">♜</a></td>
			<td class="odd" id="case_1_0" data-x="1" data-y="0"><a href="#" class="pion" data-id_pion="9">♞</a></td>
			<td class="even" id="case_2_0" data-x="2" data-y="0"><a href="#" class="pion" data-id_pion="1"}>♝</a></td>
			<td class="odd" id="case_3_0" data-x="3" data-y="0"><a href="#" class="pion" data-id_pion="1"}>♛</a></td>
			<td class="even" id="case_4_0" data-x="4" data-y="0"><a href="#" class="pion" data-id_pion="1"}>♚</a></td>
			<td class="odd" id="case_5_0" data-x="5" data-y="0"><a href="#" class="pion" data-id_pion="1"}>♝</a></td>
			<td class="even" id="case_6_0" data-x="6" data-y="0"><a href="#" class="pion" data-id_pion="9">♞</a></td>
			<td class="odd" id="case_7_0" data-x="7" data-y="0"><a href="#" class="pion" data-id_pion="8">♜</a></td>
		</tr>
		<tr>
			<td class="odd" id="case_0_1" data-x="0" data-y="1"><a href="#" class="pion" data-id_pion="7">♟</a></td>
			<td class="even" id="case_1_1" data-x="1" data-y="1"><a href="#" class="pion" data-id_pion="7">♟</a></td>
			<td class="odd" id="case_2_1" data-x="2" data-y="1"><a href="#" class="pion" data-id_pion="7">♟</a></td>
			<td class="even" id="case_3_1" data-x="3" data-y="1"><a href="#" class="pion" data-id_pion="7">♟</a></td>
			<td class="odd" id="case_4_1" data-x="4" data-y="1"><a href="#" class="pion" data-id_pion="7">♟</a></td>
			<td class="even" id="case_5_1" data-x="5" data-y="1"><a href="#" class="pion" data-id_pion="7">♟</a></td>
			<td class="odd" id="case_6_1" data-x="6" data-y="1"><a href="#" class="pion" data-id_pion="7">♟</a></td>
			<td class="even" id="case_7_1" data-x="7" data-y="1"><a href="#" class="pion" data-id_pion="7">♟</a></td>
		</tr>
		<tr>
			<td class="even" id="case_0_2" data-x="0" data-y="2"><a href="#"></a></td>
			<td class="odd" id="case_1_2" data-x="1" data-y="2"><a href="#"></a></td>
			<td class="even" id="case_2_2" data-x="2" data-y="2"><a href="#"></a></td>
			<td class="odd" id="case_3_2" data-x="3" data-y="2"><a href="#"></a></td>
			<td class="even" id="case_4_2" data-x="4" data-y="2"><a href="#"></a></td>
			<td class="odd" id="case_5_2" data-x="5" data-y="2"><a href="#"></a></td>
			<td class="even" id="case_6_2" data-x="6" data-y="2"><a href="#"></a></td>
			<td class="odd" id="case_7_2" data-x="7" data-y="2"><a href="#"></a></td>
		</tr>
		<tr>
			<td class="odd" id="case_0_3" data-x="0" data-y="3"><a href="#"></a></td>
			<td class="even" id="case_1_3" data-x="1" data-y="3"><a href="#"></a></td>
			<td class="odd" id="case_2_3" data-x="2" data-y="3"><a href="#"></a></td>
			<td class="even" id="case_3_3" data-x="3" data-y="3"><a href="#"></a></td>
			<td class="odd" id="case_4_3" data-x="4" data-y="3"><a href="#"></a></td>
			<td class="even" id="case_5_3" data-x="5" data-y="3"><a href="#"></a></td>
			<td class="odd" id="case_6_3" data-x="6" data-y="3"><a href="#"></a></td>
			<td class="even" id="case_7_3" data-x="7" data-y="3"><a href="#"></a></td>
		</tr>
		<tr>
			<td class="even" id="case_0_4" data-x="0" data-y="4"><a href="#"></a></td>
			<td class="odd" id="case_1_4" data-x="1" data-y="4"><a href="#"></a></td>
			<td class="even" id="case_2_4" data-x="2" data-y="4"><a href="#"></a></td>
			<td class="odd" id="case_3_4" data-x="3" data-y="4"><a href="#"></a></td>
			<td class="even" id="case_4_4" data-x="4" data-y="4"><a href="#"></a></td>
			<td class="odd" id="case_5_4" data-x="5" data-y="4"><a href="#"></a></td>
			<td class="even" id="case_6_4" data-x="6" data-y="4"><a href="#"></a></td>
			<td class="odd" id="case_7_4" data-x="7" data-y="4"><a href="#"></a></td>
		</tr>
		<tr>
			<td class="odd" id="case_0_5" data-x="0" data-y="5"><a href="#"></a></td>
			<td class="even" id="case_1_5" data-x="1" data-y="5"><a href="#"></a></td>
			<td class="odd" id="case_2_5" data-x="2" data-y="5"><a href="#"></a></td>
			<td class="even" id="case_3_5" data-x="3" data-y="5"><a href="#"></a></td>
			<td class="odd" id="case_4_5" data-x="4" data-y="5"><a href="#"></a></td>
			<td class="even" id="case_5_5" data-x="5" data-y="5"><a href="#"></a></td>
			<td class="odd" id="case_6_5" data-x="6" data-y="5"><a href="#"></a></td>
			<td class="even" id="case_7_5" data-x="7" data-y="5"><a href="#"></a></td>
		</tr>
		<tr>
			<td class="even" id="case_0_6" data-x="0" data-y="6"><a href="#" class="pion" data-id_pion="1">♙</a></td>
			<td class="odd" id="case_1_6" data-x="1" data-y="6"><a href="#" class="pion" data-id_pion="1">♙</a></td>
			<td class="even" id="case_2_6" data-x="2" data-y="6"><a href="#" class="pion" data-id_pion="1">♙</a></td>
			<td class="odd" id="case_3_6" data-x="3" data-y="6"><a href="#" class="pion" data-id_pion="1">♙</a></td>
			<td class="even" id="case_4_6" data-x="4" data-y="6"><a href="#" class="pion" data-id_pion="1">♙</a></td>
			<td class="odd" id="case_5_6" data-x="5" data-y="6"><a href="#" class="pion" data-id_pion="1">♙</a></td>
			<td class="even" id="case_6_6" data-x="6" data-y="6"><a href="#" class="pion" data-id_pion="1">♙</a></td>
			<td class="odd" id="case_7_6" data-x="7" data-y="6"><a href="#" class="pion" data-id_pion="1">♙</a></td>
		</tr>
		<tr>
			<td class="odd" id="case_0_7" data-x="0" data-y="7"><a href="#" class="pion" data-id_pion="2">♖</a></td>
			<td class="even" id="case_1_7" data-x="1" data-y="7"><a href="#" class="pion" data-id_pion="3">♘</a></td>
			<td class="odd" id="case_2_7" data-x="2" data-y="7"><a href="#" class="pion" data-id_pion="4">♗</a></td>
			<td class="even" id="case_3_7" data-x="3" data-y="7"><a href="#" class="pion" data-id_pion="6">♕</a></td>
			<td class="odd" id="case_4_7" data-x="4" data-y="7"><a href="#" class="pion" data-id_pion="5">♔</a></td>
			<td class="even" id="case_5_7" data-x="5" data-y="7"><a href="#" class="pion" data-id_pion="4">♗</a></td>
			<td class="odd" id="case_6_7" data-x="6" data-y="7"><a href="#" class="pion" data-id_pion="3">♘</a></td>
			<td class="even" id="case_7_7" data-x="7" data-y="7"><a href="#" class="pion" data-id_pion="2">♖</a></td>
		</tr>
	</tbody>
</table>